//
//  PRoject.xcconfig
//  ProcessEnv
//
//  Created by Matthew Massicotte on 2021-03-11.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MACOSX_DEPLOYMENT_TARGET = 10.11
SWIFT_VERSION = 5.0
FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/Carthage/Build/Mac $(PROJECT_DIR)/Carthage/Build/Mac/Static
