//
//  ProcessEnv.xcconfig
//  ProcessEnv
//
//  Created by Matthew Massicotte on 2021-03-10.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = ProcessEnv
PRODUCT_BUNDLE_IDENTIFIER = com.chimehq.ProcessEnv
PRODUCT_MODULE_NAME = ProcessEnv
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 0.1

INFOPLIST_FILE = ProcessEnv/Info.plist
MACH_O_TYPE = staticlib

MACOSX_DEPLOYMENT_TARGET = 10.11
SWIFT_VERSION = 5.0
FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/Carthage/Build/Mac $(PROJECT_DIR)/Carthage/Build/Mac/Static
